.burger {
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) { 
  .burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    width: 24px;
    height: 24px;
  }

  .burger div {
    height: 2px;
    background-color: #000000;
    width: 20px;
  }

  .burger div + div {
    margin-top: 4px;
  }

  .burger._active {
    position: relative;
    z-index: 1;
  }

  .burger .burger__item {
    transition: all .4s;
    position: relative;
    height: 2px;
    background-color: #202020;
    width: 20px;
  }

  .burger .burger__item:nth-child(1)._active {
    top: 5px;
    transform: rotate(45deg);
  }

  .burger .burger__item:nth-child(2)._active {
    visibility: hidden;
    opacity: 0;
  }

  .burger .burger__item:nth-child(3)._active {
    bottom: 7px;
    transform: rotate(-45deg);
  }

  .burger .burger__item + .burger__item {
    margin-top: 4px;
  }
}