
@media(max-width: 768px) {

  .navigation {
    transform: translateY(-100%);
    opacity: 0;
    z-index: -1;
    transition: opacity .3s, transform .3s;
  }

  .navigation.navigation--active { 
    transform: translateY(0);
    opacity: 1;
    z-index: 1;
  } 

  .navigation ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: auto;
  }

  .navigation ul li{
    padding: 12px;
  }

  .navigation ul li:last-child{
    grid-column: 1 / -1;
  }

  .navigation ul button svg{
    flex-shrink: 0;
  }
}